#wrapper {
    position: absolute;
    left:30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

#start-time {
    background-color: rgba(236, 236, 68, 0.953);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 18px;
    color: black;
}

#question-div{
    margin: 20px;

}
#time {
    float: right;

}

#goback {
    background-color: rgba(236, 236, 68, 0.953);
    position: relative;
    padding: 10px;
    font-size: 18px;
    color: black;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#clear {
    background-color: rgba(236, 236, 68, 0.953);
    position: relative;
    padding: 10px;
    font-size: 18px;
    color: black;
    top: 30%;
    right: 5%;
    text-align: center;

}

button {
    border-radius: 10px;
}


/* 
textarea {
    width: 90%;
    margin: 20px;
} */

